.venv/
__pycache__/
*.pyc
.env
*.egg-info/
dist/
src/models/model_repository/*/1/*.pt
src/models/model_repository/*/1/*.onnx

# DVC
/data/processed

# Reports (generated)
reports/

# Deepchecks
*.html
